<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 33.5rem;height:55vh">        
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"> 
              <div class="rot">ABOUT ME</div>
            </div>
            <div class="col-md-9">
              <div class="mt-5">
                <h4 class="card-title">Life Events Blog Posts :) 
                    My name is Winter!</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/abouts/about" class="btn btn-light btn-outline-dark  rounded-pill cta-btn text-center">Read More</a>
              </div>
            </div>
          </div>            
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <a class="ctaa">
        <div class="card cta" style="width: 16rem;">
          <div class="cta-hover"></div>
          <div class="cta-card">
            <%= image_tag('normal.jpg', class:"card-img cta-image")%>
            <div class="d-flex justify-content-center">
              <div class="cta-card-btn ">
                <a href="/blogs/:id/blogs/all_blogs" onclick="window.location.href=this" class = "btn btn-light rounded-pill cta-btn smooth-scroll">Recent Posts</a>
              </div>
            </div> 
          </div>       
        </div>
    </a>
    </div>
    <div class="col-md-3">
      <div class="card cta" style="width: 16rem;">
        <div class="cta-hover"></div>
        <div class="cta-card ">
          <%= image_tag('normal.jpg', class:"card-img cta-image")%>
          <div class="d-flex justify-content-center">
            <div class="cta-card-btn ">
              <%= link_to  "Instagram", @blog, class:"btn btn-light rounded-pill cta-btn" ,onclick:"window.location.href=this"%>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>