<nav class="navbar navbar-expand-lg navbar-light footer-nav mb-3">
  <div class="d-flex justify-content-center "> 
    <div class="row">
      <div class="col-md-6">
        <div class="nav-item nav-link">GetPosted © 2019 ALL RIGHTS RESERVED.</div>
      </div>
      <div class="col-md-6">
        <div class="navbar-nav text-light foot">
          <a class="nav-item nav-link active"  onclick="window.location.href=this" href="/blogs">HOME </a>
          <a class="nav-item nav-link" onclick="window.location.href=this"  href="/">LIFE</a>
          <a class="nav-item nav-link" onclick="window.location.href=this"  href="/">ENTERTAINMENT</a>
          <a class="nav-item nav-link" onclick="window.location.href=this"  href="/abouts/about">ABOUT</a>
          <a class="nav-item nav-link" onclick="window.location.href=this"  href="/">CONTACTS</a> 
          
          <!-- <a href="/#top" class=" btn nav-item nav-link top" >Top</a>      -->
        </div>
      </div>
    </div>     
    
  </div>  
</nav> 