<div class="d-flex justify-content-center navbar navy">
  <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="d-flex justify-content-center">
          <!-- <a class="nav-item nav-link" href="#"><img src="https://img.icons8.com/ios-glyphs/30/000000/menu-rounded.png"></a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active"  onclick="window.location.href=this" href="/blogs">HOME <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" onclick="window.location.href=this"  href="/">LIFE</a>
              <a class="nav-item nav-link" onclick="window.location.href=this"  href="/">ENTERTAINMENT</a>
              <a class="nav-item nav-link" onclick="window.location.href=this"  href="/abouts/about">ABOUT</a>
              <a class="nav-item nav-link" onclick="window.location.href=this"  href="/">CONTACTS</a>
              <!-- <div class="search-area"> -->
                <i id="btn" class="mt-2 ml-4"><img src="https://img.icons8.com/ios/28/000000/search.png"></i>
                <div class="btn1 sec-search" id="btn1">
                  <form class="form-inline ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="submit" ><i id="btn" class="m"></i><img src="https://img.icons8.com/ios/28/000000/search.png"></i></button>
                  </form> 
                </div>                                       
              <!-- </div> -->
            </div>
          </div>
      </div>  
    </nav>    
</div>
<div class="create" id="create">
  <form class="form-inline" >
    <input class="form-control search-input mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0 text-dark" type="submit" >Search</button>
  </form>
</div>
