<h1>Entertainment</h1>
<div class = "row">
<div class= "col-md-6">
GAMES<br>
<ul>
<li>Football</li>
<li>Basketball</li>
<li>Baseball</li>
<li>Billiard</li>
</ul>

</div>
<div class = "col-md-6">
NEWS<br>
<ul>
<li>Rwandan NEWS</li>
<li>East African</li>
<li>African</li>
<li>Others</li>
</ul>
<u>
</div>
</div>