/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin-top: 2rem !important;
    // width: 96%;
    background-color: #eafbea !important;
    // height: 100%;
    // position: relative;
    // left: 2%;
    // right: 2%;
}

.minified {
    width: 96%;
    position: relative;
    left: 2%;
    right: 2%;
}

.logo-area {
    background-color: white;
    height: 130px;
    width: 96%;
    position: relative;
    left: 2%;
    right: 2%;
}

.top-nav {
    background-color: #eafbea !important;
}

.logo-area-list > .logo-area-item{
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
}

.nav-brand {
    margin-left: 20rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

.all-content {
    margin-top: 1rem;
    background-color: white;
    width: 96%;
    position: relative;
    left: 2%;
    right: 2%;
}

.navy {
    padding: 1rem !important;    
}

.nav-item {
    margin-left: 1rem;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    background-color: #eafbea !important;
    transition: all .3s ease;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.562);
    // border-bottom: 1px solid  rgba(128, 128, 128, 0.541) !important;
    z-index: 1;
    height: 55px;  
    justify-content: center !important;
    
    #btn {
        display: none;
    }
    #btn1 {
        visibility: visible;
    }
  }

// search
.create {
    display: none;
    margin-top: 1rem;
    // background-color: white;
    transition: all .8s ease;
    height: 90px;
    // width: 100%;
    width: 96%;
    position: relative;
    left: 2%;
    right: 2%;
}

#btn1 {
  visibility: hidden;
}

.search-input {
    width: 75rem !important;
    height: 3rem !important;
}

.sec-search {
    // margin-left: 25rem;
}

.submit {
    visibility: hidden;
}

.bars {
    color:black;
    width: 1rem;
}

.latest-image {
    width: 100% !important;
    height: 100% !important;
}

.latest-card {
    border-radius: 0 !important;
    border: white !important
}

.latest-body {
    margin-top: 15rem;
}

.cta-image {
    height: 55vh !important; 
}

.cta-card-btn {
    position: absolute !important;
    bottom: 50% !important;
    // z-index: 1;
}

.cta-card-btn > .cta-btn:hover {
    color: rgb(238, 182, 109) !important;
}

.cta-btn {
    width: 10rem;    
}

// .cta:hover{       
//     .cta-hover {
//         position: absolute !important;
//         border: 1px solid white !important;
//         width: 15rem !important;
//         height: 53vh !important;
//         margin-left: .5rem;
//         margin-top: .4rem;
//         transition: all .1s ease;            
//     }  
// }


// .cta:hover {
//     box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.562);
// }

.rot {
    position: relative;
    top: 60%;
    // padding: 5px 10px;
    // line-height: 24px;
    font-family:  Sans-Serif;
    letter-spacing: 2px;
    transform: rotate(270deg) !important;
}

.blog-index-card {
    // border: none !important;
    margin-top: 1rem !important;
}

.most-popular {
    border: none !important;
}

.most-popular-link:hover {
    color: red!important;
}

.all-blogs-card {
    border:  none !important;
    height: 25vh !important;
}

.all-blogs-card-img {
    height: 9rem !important;
    width: 100% !important;
}

.line {
    height: 2px;
    background-color: tomato;
    width : auto;
}

.most-popular-card-img {
    height: 3.5rem;
    width: 100%;
}

#most {
    width: 1.1rem;
    border: none !important;
    color: tomato;
}

// .smooth-scroll {
//     // scroll-behavior: smooth;
//     transition: all 4s ease !important;
// }

html {
    scroll-behavior: smooth;
}

.recent-blog-cards:hover {
  transform: scale(1.02);
}

.title:hover {
    color: tomato !important;
}

.blog-detail-card {
     border: none !important;
}
.blog-detail-card-img {
    height: 50vh;
}

footer {
    width: 96%;
    position: relative;
    left: 2%;
    right: 2%;
}

.footer-nav {
    background-color: rgba(0, 0, 0, 0.87);
    color: white !important;
}

.foot > a {
    color: rgba(255, 255, 255, 0.815) !important;
}

.top {
    margin-left: 8rem !important;
}